/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpstorm.meta.php
/.phpunit.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
database/tests.sqlite
public/assets/*.map
/public/hot
/public/storage
/storage/*.key
/.phpunit.cache
npm-debug.log
yarn-error.log
.php_cs.cache
