* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
CHANGELOG.md export-ignore
*.less linguist-vendored
*.png binary
*.jpg binary
*.ttf binary
*.eot binary
*.otf binary
*.woff binary
*.woff2 binary
