<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" bootstrap="tests/bootstrap.php" colors="true" processIsolation="false" stopOnFailure="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd">
  <coverage/>
  <testsuites>
    <testsuite name="Unit">
      <directory suffix="Test.php">./tests/Unit</directory>
    </testsuite>
    <testsuite name="Feature">
      <directory suffix="Test.php">./tests/Feature</directory>
    </testsuite>
  </testsuites>
  <groups>
    <exclude>
      <group>large</group>
    </exclude>
  </groups>
  <php>
    <env name="APP_ENV" value="testing"/>
    <env name="APP_KEY" value="base64:y7VgjUNCsFyuU0uOtHd9FsLy3zYPIQ2YBbYvar71fIw="/>
    <env name="DB_CONNECTION" value="testing"/>
    <env name="BCRYPT_ROUNDS" value="4"/>
    <env name="CACHE_DRIVER" value="array"/>
    <env name="MAIL_MAILER" value="array"/>
    <env name="MAIL_MAILBOX" value="array"/>
    <env name="QUEUE_CONNECTION" value="sync"/>
    <env name="SESSION_DRIVER" value="array"/>
    <env name="METRICS_BACKEND" value="null"/>
    <env name="APP_CONFIG_CACHE" value="bootstrap/cache/config.phpunit.php"/>
    <env name="APP_SERVICES_CACHE" value="bootstrap/cache/services.phpunit.php"/>
    <env name="APP_PACKAGES_CACHE" value="bootstrap/cache/packages.phpunit.php"/>
    <env name="APP_ROUTES_CACHE" value="bootstrap/cache/routes.phpunit.php"/>
    <env name="APP_EVENTS_CACHE" value="bootstrap/cache/events.phpunit.php"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">./app</directory>
    </include>
  </source>
</phpunit>
