--main: #770303;
--main-hover:
--main-disabled:
--secondary: #A78443;
--secondary-hover:
--third: #383519;
--third-hover:
--secondary-disabled:
--white: #F5F4F5;
--light-grey: #A89FA8;
--dark-grey: #4B444B;
--warning: #0000000;
--danger:
