.border {
    border-style: solid !important;
}

.border-white {
    border-color: white !important;
}

.border-1 {
    border-width: 1px !important;
}

.rounded {
    border-radius: 5px !important;
}

.pl-5 {
    padding-left: 5px !important;
}

.pr-5 {
    padding-right: 5px !important;
}