@import 'bootstrap/dist/css/bootstrap.min.css';

@import "@fortawesome/fontawesome-free/css/all.css";

#loadOverlay {
    display: none;
}
.cssLoading * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

/*
Sticky Footer Solution
by Steve Hatcher
http://stever.ca
http://www.cssstickyfooter.com
*/

* { margin: 0; padding: 0; }

/* must declare 0 margins on everything, also for main layout components use padding, not
vertical margins (top and bottom) to add spacing, else those margins get added to total height
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */

html,
body { height: 100%; }

input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    hyphens: auto;
}

$footer-height: 90px !default;

#app, #app:empty ~ noscript {
    isolation: isolate;
    min-height: 100%;
    padding-bottom: $footer-height + 10px;
    display: flex;
    flex-direction: column;
}  /* must be same height as the footer */
#app:empty, #app:not(:empty) ~ noscript {
    display: none;
}
noscript {
    text-align: center;
}

footer {
    position: relative;
    margin-top: -$footer-height - 10px; /* negative value of footer height */
    height: $footer-height + 10px;
    font-size: 15px;
    clear: both;
}

footer .inner { padding-bottom: 10px; }
footer .row { height: $footer-height; }

/* Opera Fix */
body::before {/* thanks to Maleika (Kohoutec) */
    content: "";
    height: 100%;
    float: left;
    width: 0;
    margin-top: -32767px;/* thank you Erik J - negate effect of float */
}

/*
Theme Name: MeatKing
Version:    1.14.20
Author:     ThemeWagon

Tiny bug when width <780px, there an horizontal scrollbar

TABLE OF CONTENTS
    01 - General and Typography
    02 - Footer
    03 - Ribbon
    04 - Modal
    05 - Readability
    06 - Widgets
*/

/* ==========================================================================
    01. General and Typography
========================================================================== */

html {
    font-size: 14px;
}

body {
    font-family: kreon, serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.light-wrapper section {
    position: relative;
    padding: 0;
    background: #f0a830;
    color: #fff;
    text-align: center;
}

.light-wrapper section::before,
.light-wrapper section::after,
.dark-wrapper section::before,
.dark-wrapper section::after {
    position: absolute;
    content: '';
}

@-moz-document url-prefix() {
    fieldset { display: table-cell; }
}

/* Separators Styles */
.ss-style-top::before {
    left: 0;
    width: 100%;
    height: 30px;
    -webkit-background-size: 25px 100%;
    -moz-background-size: 25px 100%;
    -o-background-size: 25px 100%;
    background-size: 25px 100%;
    top: 0;
    background-image: linear-gradient(315deg, #fff 50%, transparent 50%), linear-gradient(45deg, #fff 50%, transparent 50%);
    margin-top: -30px;
    z-index: 1;
}

.ss-style-bottom::before {
    left: 0;
    width: 100%;
    height: 30px;
    -webkit-background-size: 25px 100%;
    -moz-background-size: 25px 100%;
    -o-background-size: 25px 100%;
    background-size: 25px 100%;
    top: 0;
    background-image: linear-gradient(583deg, #fff 50%, transparent 50%), linear-gradient(136deg, #fff 50%, transparent 50%);
    margin-top: 0;
    z-index: 1;
}

#app .light-wrapper:last-of-type .ss-style-bottom {
    display: none;
}

[v-cloak] {
    display: none;
}

.v-rcloak {
    display: none;
}

[v-cloak] ~ .v-rcloak {
    display: block;
}

a.link {
    cursor: pointer;
}

/* ==========================================================================
    02. Footer
========================================================================== */
.dark-wrapper {
    background: #b50119;
    color: white;
    font-weight: bold;
}

.dark-wrapper .ss-style-top::before {
    background-image: linear-gradient(315deg, #b50119 50%, transparent 50%), linear-gradient(45deg, #b50119 50%, transparent 50%);
}

.themeBy {
    color: #a00;
    background: white;
}

footer .row {
    display: flex;
}

/* ==========================================================================
    03. Ribbon
========================================================================== */
#ribbon {
    display: none;
}

@media screen and (min-width: 768px) {
    #ribbon {
        position: fixed;
        display: block;
        top: -30px;
        right: 0;
        width: 105px;
        overflow: visible;
        height: 135px;
        z-index: 9999;
    }

    #ribbon a {
        background: #a00;
        color: #fff;
        text-decoration: none;
        font-family: arial, sans-serif;
        text-align: center;
        font-weight: bold;
        padding: 5px 40px;
        line-height: 20px;
        transition: background 0.5s, color 0.5s;
        width: 200px;
        position: absolute;
        top: 55px;
        right: -50px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
    }

    #ribbon a:hover {
        background: #c00;
        color: #fff;
    }

    #ribbon a::before,
    #ribbon a::after {
        content: "";
        width: 100%;
        display: block;
        position: absolute;
        top: 1px;
        left: 0;
        height: 1px;
        background: #fff;
    }

    #ribbon a::after {
        bottom: 1px;
        top: auto;
    }
}

/* ==========================================================================
    04. Modal
========================================================================== */
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 500px;
    margin: 0 auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}

.modal-default-button {
    float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* ==========================================================================
    05. Readability
========================================================================== */
.btn-outline-success {
    color: #2c642c;
    border-color: #2c642c;
}
.btn-success,.btn-outline-success:not([disabled]):hover {
    background-color: #2c642c;
    border-color: #2c642c;
}

.btn-outline-danger {
    color: #a82824;
    border-color: #a82824;
}
.btn-danger,.btn-outline-danger:not([disabled]):hover {
    background-color: #a82824;
    border-color: #a82824;
}

.btn-outline-warning {
    color: #9c5a05;
    border-color: #9c5a05;
}
.btn-warning,.btn-outline-warning:not([disabled]):hover {
    background-color: #9c5a05;
    border-color: #9c5a05;
    color: #fff;
}

.btn-primary,.btn-outline-primary:not([disabled]):hover {
    background-color: #275c8b;
    border-color: #275c8b;
}

.btn[disabled] {
    opacity: 0.35;
}

.table-hover tbody tr:focus-within {
    color: #212529;
    background-color: rgba(0, 0, 0, 0.175);
}

/* ==========================================================================
    06. Widgets
========================================================================== */
.card-title {
    font-weight: bold;
    text-transform: uppercase;
}
.card-body {
    list-style-position: inside;
}
