@import "layout";
@import "~vue-multiselect/dist/vue-multiselect.min";

/* Fix tiny style glitches */
.multiselect--active .multiselect__tags {
    min-height: 41px;
}

.multiselect__input, .multiselect__single {
    padding: 0 !important;
    line-height: 1.5 !important;
}

.multiselect, .multiselect__input, .multiselect__single {
    font-size: 14px !important;
}

.multiselect__placeholder {
    padding-top: 0 !important;
}

@import "~jquery-ui/themes/base/core";
@import "~jquery-ui/themes/base/theme";
@import "~jquery-ui/themes/base/datepicker";

/* ==========================================================================
    02. Header
========================================================================== */
#header {
    background-image: url(/images/gifts-1.webp);
    -moz-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}
body.nowebp #header {
    background-image: url(/images/gifts-1.jpg);
}

#header .center {
    position: relative;
    z-index: 1;
    color: white;
    padding: 70px 0;
}

#header .bottom {
    color: white;
}

#header .center .slogan {
    font-size: 26px;
    text-transform: uppercase;
}

#header .banner h1 {
    font-size: 100px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    background: #ed0121;
    padding: 0 18px;
}

#header .subtitle h4 {
    display: inline-block;
    background: white;
    color: #ed0121;
    font-size: 38px;
    padding: 0 15px;
}

#header .bottom {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 30px;
}

#header .bottom a {
    font-size: 36px;
    color: whitesmoke;
    position: relative;
    top: -5px;
}

.bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(44, 33, 5, 0.2);
    z-index: 0;
}

/* ==========================================================================
    04. Parallax
========================================================================== */
.parallax {
    background: url(/images/gifts-2.webp) fixed no-repeat center center;
    -moz-background-size: cover;
    background-size: cover;
    position: relative;
    color: #fff;
}
body.nowebp .parallax {
    background-image: url(/images/gifts-2.jpg);
}

.parallax .inner {
    padding-top: 130px;
    padding-bottom: 130px;
}

.parallax.parallax2 {
    background-image: url(/images/gifts-3.webp);
}
body.nowebp .parallax.parallax2 {
    background-image: url(/images/gifts-3.jpg);
}

/* ==========================================================================
    05. What/How
========================================================================== */
.light-wrapper {
    background: #fbfbfb;
}

.light-wrapper .inner {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-title {
    font-size: 36px;
    line-height: 40px;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: 600;
}

.main.lead {
    margin-bottom: 80px;
}

.lead {
    font-size: 17px;
    line-height: 24px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #2e2e2e;
    position: relative;
}

.lead::after {
    position: absolute;
    content: ' ';
    background: #ed0121;
    width: 80px;
    height: 3px;
    bottom: -22px;
    left: 50%;
    margin-left: -40px;
}

.media-body {
    width: auto;
    text-align: left;
    margin: auto;
}

.media-heading {
    font-weight: bold;
}

div.card-body {
    font-style: italic;
}

div.card-body::first-line {
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
}

/* ==========================================================================
    06. Form
========================================================================== */
fieldset > div.form-group {
    overflow: visible;
}

#participants caption {
    display: none;
}

.participant .participant-exclusions-wrapper {
    padding-top: 11px;
}

.participant .participant-remove-wrapper {
    width: 179px;
    white-space: nowrap;
}

.input-group-addon.lang {
    padding: 6px 8px;
}

.input-group-addon.lang::before {
    background-repeat: no-repeat;
    background-image: url(/images/languages.webp);
    height: 11px;
    width: 14px;
    content: '';
    display: inline-block;
    margin-right: 8px;
}
body.nowebp .input-group-addon.lang::before {
    background-image: url(/images/languages.png);
}

.input-group-addon.lang[lang=fr]::before {
    background-position: 0 -121px;
}

#mailContent,
#mailPost {
    max-width: 100%;
    resize: none;
}

#mailContent {
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#mailPost {
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    height: 55px;
}

#mailPost.extended {
    height: 75px;
}

#form {
    padding-bottom: 20px;
}

#form .container {
    transition: all 0.4s;
    position: relative;
}

#form.success .success-wrapper {
    display: block;
}

.col-xs-0 {
    width: 1%;
}

.border-left {
    border-left: 1px solid #ddd;
}

.border-right {
    border-right: 1px solid #ddd;
}

.row.text-only {
    line-height: 34px;
}

.input-inline-group {
    position: relative;
    display: inline-block;
}

.table-bordered.heavy-borders,
.table-bordered.heavy-borders > tbody > tr > td,
.table-bordered.heavy-borders > tbody > tr > th,
.table-bordered.heavy-borders > tfoot > tr > td,
.table-bordered.heavy-borders > tfoot > tr > th,
.table-bordered.heavy-borders > thead > tr > td,
.table-bordered.heavy-borders > thead > tr > th {
    border-width: 3px;
}

.tips {
    font-size: 12px;
    font-style: italic;
    box-shadow: 3px 3px 6px 0 #bbb;
    margin: 10px auto 0 auto;
    display: inline-block;
    border: 1px solid #c0c0c0;
    background-color: #ddd;
    padding: 10px;
}

.tips p {
    margin: 0;
}

/* ==========================================================================
    08. Responsive styles
========================================================================== */
@media (max-width: 1199px) {
    .participant-remove span {
        display: none;
    }
}

@media (max-width: 767px) {
    #header .banner h1 {
        font-size: 60px;
    }

    #header .subtitle h4 {
        font-size: 22px;
    }
}

/* ==========================================================================
    12. Widgets
========================================================================== */
.participants-import button .fa-spinner {
    margin-right: 10px;
}