$footer-height: 120px;
@import "layout";

@import "~alertify.js/src/sass/alertify";
@import "~vue-multiselect/dist/vue-multiselect.min";

/*@import "~jquery-ui/themes/base/core";
@import "~jquery-ui/themes/base/theme";*/
@import "~jquery-ui/themes/base/datepicker";

/* ==========================================================================
    03. Navigation
========================================================================== */
.nav.navbar-nav-left {
    display: inline-flex;
    justify-content: flex-end;
    flex: 1;
    margin-right: 60px;
}
.nav.navbar-nav-right {
    display: inline-flex;
    justify-content: flex-start;
    flex: 1;
    margin-left: 60px;
}

/* ==========================================================================
    04. Parallax
========================================================================== */
.parallax {
    background: url(/images/gifts-2.jpg) fixed no-repeat center center;
    -moz-background-size: cover;
    background-size: cover;
    position: relative;
    color: #FFF;
}
.parallax .inner {
    padding-top: 130px;
    padding-bottom: 130px;
}
.parallax.parallax2 {
    background-image: url(/images/gifts-3.jpg);
}

/* ==========================================================================
    05. What/How
========================================================================== */
.light-wrapper {
    background: #fbfbfb;
}
.light-wrapper .inner {
    padding-top: 100px;
    padding-bottom: 100px;
}
.section-title {
    font-size: 36px;
    line-height: 40px;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: 600;
}
.main.lead {
    margin-bottom: 80px;
}
.lead {
    font-size: 17px;
    line-height: 24px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #2e2e2e;
    position: relative;
}
.lead:after {
    position: absolute;
    content: ' ';
    background: #ed0121;
    width: 80px;
    height: 3px;
    bottom: -22px;
    left: 50%;
    margin-left: -40px;
}
.media-body {
    width: auto;
    text-align: left;
}
.media-heading {
    font-weight: bold;
}
.media-body p::first-line {
}
div.card-body {
    font-style: italic;
}
div.card-body:first-line {
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
}

/* ==========================================================================
    06. Form
========================================================================== */
fieldset > div.form-group {
    overflow: visible;
}
.participant .participant-exclusions-wrapper {
    padding-top: 11px;
}
.participant .participant-remove-wrapper {
    width: 179px;
    white-space: nowrap;
}
.input-group-addon.lang {
    padding: 6px 8px;
}
.input-group-addon.lang:before {
    background-repeat: no-repeat;
    background-image: url(/images/languages.png);
    height: 11px;
    width: 14px;
    content: '';
    display: inline-block;
    margin-right: 8px;
}
.input-group-addon.lang[lang=fr]:before {
    background-position: 0px -121px;
}
#mailContent, #mailPost {
    max-width: 100%;
    resize: none;
}
#mailPost {
    height: 55px;
}
#mailPost.extended {
    height: 75px;
}
#mailContent {
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
#mailPost {
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
#smsContent {
    resize: none;
}
#form .container {
    transition: all 0.4s;
    position: relative;
}
#form.success .success-wrapper {
    display: block;
}
.col-xs-0 {
    width: 1%;
}
.border-left {
    border-left: 1px solid #ddd;
}
.border-right {
    border-right: 1px solid #ddd;
}
.row.text-only {
    line-height: 34px;
}
.tip {
    font-style: italic;
    font-size: 12px;
}
.fas.fa-spinner {
    animation: spin 1s infinite linear;
}
button .fa-spinner {
    margin-right: 10px;
}
@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}
.table-bordered.heavy-borders, .table-bordered.heavy-borders > tbody > tr > td, .table-bordered.heavy-borders > tbody > tr > th, .table-bordered.heavy-borders > tfoot > tr > td, .table-bordered.heavy-borders > tfoot > tr > th, .table-bordered.heavy-borders > thead > tr > td, .table-bordered.heavy-borders > thead > tr > th {
    border-width: 3px;
}

/* ==========================================================================
    08. Responsive styles
========================================================================== */
@media (max-width: 1199px) {
    .participant-remove span:nth-child(2) {
        display: none;
    }
}
